Customer support.json
{
  "name": "Customer support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -688,
        16
      ],
      "id": "b53e9a12-02ff-489a-aef2-e670349210da",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YjXtGqF7AuCCQE3A",
          "name": "jitfit10@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "An email that is related to helping out a customer. They may be asking questions about our policies or questions about our products or services."
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -432,
        16
      ],
      "id": "c6f12b0d-9f46-49a8-afac-514c167fd929",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        208
      ],
      "id": "c1ed21e4-f9b3-4587-894d-e23d9ce01391",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pYsNFt5eDSHdhh43",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        224
      ],
      "id": "e176d962-ed7a-45b2-a9d9-a8948e4153d1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=#Overview\nYou are a customer support agent for Togg. Your job is to respond to incoming emails with relevent information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Mr. Helpful from Togg Soulutions\n\n\n## Output \n- Output only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "3751b3a3-b938-4a84-8ef8-574c3d3c39ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        224
      ],
      "id": "aa39fdc6-e568-4f9b-9f78-65624a457236",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "pYsNFt5eDSHdhh43",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access Policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        144,
        240
      ],
      "id": "e7e43113-604b-4c0a-aaf3-b9eceec7fc60",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "QcVGSLZmskQnU1Z9",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        432
      ],
      "id": "7d95d216-2a0f-4447-87b9-af0591de959e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pYsNFt5eDSHdhh43",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        0
      ],
      "id": "6e1d5338-b5ad-412d-8d16-0b5e2ff7aa26",
      "name": "Reply to a message",
      "webhookId": "1f63edfc-c819-4f00-9bbb-71398aeb8557",
      "credentials": {
        "gmailOAuth2": {
          "id": "YjXtGqF7AuCCQE3A",
          "name": "jitfit10@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8d30cdc-96e1-4384-a46b-c62f4ee76bc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d755e5ce44728bcf6137490b86c05fb3770b50f6cdef6ce62b61619464084a41"
  },
  "id": "5RwvkU45kKBUHEfi",
  "tags": []
}