Invoice processing.json
{
  "name": "Invoice processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1B-STaetPcHYB_5Sdy6YniA7TlusUAGGi",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1B-STaetPcHYB_5Sdy6YniA7TlusUAGGi"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "fccd6223-106f-4570-9f7b-07c75e8c7c23",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CdZCRNNNl35fgtx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        864,
        0
      ],
      "id": "9cf3fbc2-1485-4224-ab77-435fc7ac43ba",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "b0eb1a6e-0612-47d8-8eeb-d3d5f272828a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CdZCRNNNl35fgtx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Customer name",
              "description": "Customer name ",
              "required": true
            },
            {
              "name": "Customer Address",
              "description": "the address of the Customer",
              "required": true
            },
            {
              "name": "Invoice Number",
              "description": "Invoice Number",
              "required": true
            },
            {
              "name": "Date",
              "type": "date",
              "description": "Date",
              "required": true
            },
            {
              "name": "Due date",
              "type": "date",
              "description": "Due date",
              "required": true
            },
            {
              "name": "Total Due",
              "description": "The total amount of the invoice",
              "required": true
            },
            {
              "name": "Iban",
              "description": "Iban",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nAlways show money amounts with the currency sign."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1072,
        0
      ],
      "id": "38ae087a-8f25-4c6b-aed6-95c83217572d",
      "name": "Information Extractor",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        224
      ],
      "id": "671145c6-2d3c-4b47-94c2-7f8dc790317a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pYsNFt5eDSHdhh43",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EpDkFCo2juI-RbDetrhPKuqXJbdQnSILvj81VOfreAY",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EpDkFCo2juI-RbDetrhPKuqXJbdQnSILvj81VOfreAY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EpDkFCo2juI-RbDetrhPKuqXJbdQnSILvj81VOfreAY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json.output['Customer name'] }}",
            "Customer Address": "={{ $json.output['Customer Address'] }}",
            "Invoice number": "={{ $json.output['Invoice Number'] }}",
            "Date": "={{ $json.output.Date }}",
            "Due Date": "={{ $json.output['Due date'] }}",
            "Iban": "={{ $json.output.Iban }}",
            "Total Due": "={{ $json.output['Total Due'] }}"
          },
          "matchingColumns": [
            "Customer Name"
          ],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Address",
              "displayName": "Customer Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice number",
              "displayName": "Invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Due",
              "displayName": "Total Due",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Iban",
              "displayName": "Iban",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        368
      ],
      "id": "2623f82b-7d7f-4646-a5dd-1210303e3019",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JNKQCblv7SXH9wdC",
          "name": "jitfit10 new"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO-2025-08-07"
        },
        "messages": {
          "values": [
            {
              "content": "=Customer Name:{{ $json['Customer Name'] }}\nCustomer Address:{{ $json['Customer Address'] }}\nInvoice number:{{ $json['Invoice number'] }}\nDate:{{ $json.Date }}\nDue Date:{{ $json['Due Date'] }}\nIban:{{ $json.Iban }}\nTotal Due:{{ $json['Total Due'] }}\n"
            },
            {
              "content": "# Overview\nYou are an email expert for Togg corp named titan. You will receive invoice information. Your job is to inform the internal billing team that the invoice was received/sent.\n\n## Email\nInform the billing team of the invoice. Let them know we have also updated this in the invoice Database, and they can view it here https://docs.google.com/spreadsheets/d/1EpDkFCo2juI-RbDetrhPKuqXJbdQnSILvj81VOfreAY/edit?gid=0#gid=0\n\n## Output\nOutput the following parameters separately: \nSubject\nEmail\n\n## Rules \nAdd a space before any new line ",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        368
      ],
      "id": "bc6db4bf-1ac7-42ee-9825-0944f19c9868",
      "name": "Create email",
      "credentials": {
        "openAiApi": {
          "id": "pYsNFt5eDSHdhh43",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "billing.team@example.com",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        368
      ],
      "id": "1ed8a895-e234-4722-9349-b90b7d1f71f8",
      "name": "Send a message",
      "webhookId": "8291dfd0-cb28-4683-9701-b1727c5a2aa5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YjXtGqF7AuCCQE3A",
          "name": "jitfit10@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        368
      ],
      "id": "61e2442e-414d-4852-a50d-09a9c832cc9f",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Create email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fefc57f0-2377-49bb-9b23-6408f6ad0a3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d755e5ce44728bcf6137490b86c05fb3770b50f6cdef6ce62b61619464084a41"
  },
  "id": "mivVe3D1OiHGhUeD",
  "tags": []
}